

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.max-image-width {
	max-width:98%;
}

.hero-unit img {
	width:95%;
}

.hero-unit h1 {
  padding-bottom: 1%;
  font-size: 200%;
}

ol li {
	margin-bottom:1.5%;
}

@media (max-width: 767px) {
  .hero-unit {
    padding: 0.5%;
  }

	.hero-unit h1 {
	  padding-bottom: 0.6%;
	  font-size: 150%;
	}
}